<div class="container list-button">
  <div class="row">
    <h1>{{'app.titleTrip' | translate}}</h1>
  </div>

  <agm-map *ngIf="trips.length > 0 || trips === undefined" [latitude]="lat" [longitude]="lng" [zoom]="2" style="height: 400px;">
    <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/js-marker-clusterer/gh-pages/images/m">
      <ng-container *ngFor="let t of trips">
        <agm-marker
          *ngIf="t.latitude != 0.0 || t.longitude != 0"
          [latitude]="t.latitude"
          [longitude]="t.longitude"
          [label]="{size: '40px', text: t.name, fontSize: '14px', fontWeight: 'bold'}"
          (markerClick)="moveToActivities(t.id, t.name)">{{t.name}}">
        </agm-marker>
      </ng-container>
      <ng-container *ngFor="let t of newTrips">
        <agm-marker
          *ngIf="t.latitude != 0.0 || t.longitude != 0"
          [latitude]="t.latitude"
          [longitude]="t.longitude"
          [label]="t.name"
          (markerClick)="moveToActivities(t.id, t.name)">{{t.name}}">
        </agm-marker>
      </ng-container>
    </agm-marker-cluster>
  </agm-map>

  <div class="row">
    <div class="col-md-12">
      <h4 *ngIf="newTrips.length > 0">{{'app.titleNewTrip' | translate}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"  *ngFor="let t of newTrips; i as index">
      <mat-action-list>
        <button mat-raised-button class="new-trips listItem" (click)="moveToActivities(t.id, t.name)">
          {{t.name}}
        </button>
      </mat-action-list>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4 *ngIf="trips.length > 0">{{'app.titleAllTrip' | translate}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 " *ngFor="let t of trips; i as index">
      <mat-action-list>
        <button mat-raised-button class="listItem" (click)="moveToActivities(t.id, t.name)">{{t.name}}</button>
      </mat-action-list>
    </div>
  </div>
</div>

<h1 class="noTrip" *ngIf="loading">{{'app.loading' | translate}}</h1>
<h1 class="noTrip" *ngIf="trips.length === 0 && newTrips.length === 0 && !loading">{{'app.addTrip' | translate}}</h1>

<button mat-fab class="fab" color="primary" (click)="openDialog()">+</button>


