<!--

<div class="container">
  <div class="row">
    <mat-form-field class="createActForm">
      <input matInput placeholder="Nom de l'activité" [(ngModel)]="name">
    </mat-form-field>
  </div>
  <div class="row">
    <button mat-raised-button (click)="upload()">{{ 'app.upload' | translate}}</button>
  </div>
</div>
-->

<h1 mat-dialog-title>{{'app.titleActivityCreate' | translate}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput cdkFocusInitial [(ngModel)]="name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">{{'app.modalCancel' | translate}}</button>
  <button mat-button (click)="upload()">{{'app.upload' | translate}}</button>
</div>
