<h2>{{ 'app.titlePostCreate' | translate}}</h2>

<div class="container">
  <div class="row">
      <mat-form-field class="comment col-md-12" hintLabel="{{ 'app.maxPostChar' | translate }}">
        <textarea matInput id="commentText" #commentText maxlength="250" class="form-control col-md-12" [(ngModel)]="text" name="commentText" placeholder="{{ 'app.phComment' | translate}}"></textarea>
        <mat-hint align="end">{{commentText.value?.length || 0}}/250</mat-hint>
      </mat-form-field>
      <input #file type="file" multiple="multiple" style="display: none" accept='image/*' (change)="previewImage(file.files)" #fileInput>
  </div>
  <div class="row">
    <button mat-raised-button [disabled]="currentlyUploading" class="btn col-md-3" (click)="upload()">{{ 'app.upload' | translate}}</button>
    <button mat-raised-button [disabled]="currentPicAmount === MAX_PIC_AMOUNT"  class="btn col-md-3" (click)="fileInput.click()" >{{ 'app.browse' | translate}}</button>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let u of pictureURLS; index as i">
      <div class="div-img-prev">
        <img class="img-prev" [src]=pictureURLS[i].src>
        <div [ngClass]=pictureURLS[i].status></div>

        <div *ngIf="pictureURLS[i].status === 'sending'" class="img-loading-overlay">
          <div class="img-spinning-circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
