<h2>{{ 'app.titlePostCreate' | translate}}</h2>

<div class="container">
  <div class="row">
      <mat-form-field color="accent" class="comment col-md-12">
        <textarea matInput id="commentText" maxlength="250" class="form-control col-md-12" [(ngModel)]="text" name="commentText" placeholder="{{ 'app.phComment' | translate}}"></textarea>
      </mat-form-field>
      <input #file type="file" multiple="multiple" style="display: none" accept='image/*' (change)="previewImage(file.files)" #fileInput>
      <button class="btn btn-default col-md-3" (click)="upload()">{{ 'app.upload' | translate}}</button>
      <button class="btn btn-default col-md-3" (click)="fileInput.click()" >{{ 'app.browse' | translate}}</button>
      <!--<button class="btn btn-default col-md-3" [routerLink]="['/tripEx/activityEx/posts']">{{ 'app.toPosts' | translate}}</button>-->
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let u of pictureURLS; index as i">
      <div class="div-img-prev">
        <img class="img-prev" [src]=pictureURLS[i].src>
        <div [ngClass]=pictureURLS[i].status></div>

        <div *ngIf="pictureURLS[i].status === 'sending'" class="img-loading-overlay">
          <div class="img-spinning-circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
