
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card-columns">
        <div *ngFor="let currentPost of allPostsFromServer">
          <div class="card"  (click)="openPostDetails(currentPost); wasSeen(currentPost.id)" [ngClass]="currentPost.seen === true ? 'seen' : 'notSeen'">

            <div class="card-body">
              <h5 class="card-title">
                <img class="userIcon" src="../../assets/images/user.png" alt="">
                <span class="userName">{{currentPost.name}}</span>
              </h5>
              <p class="card-text">{{currentPost.text}}</p>

            </div>

            <img class="card-img-top"  *ngIf="currentPost.idTable.length  > 0" src="{{http.baseUrl}}api/Pictures/GetPictureFromId/{{currentPost.idTable[0]}}" alt="">
            <p class="card-text"><small class="text-muted">{{currentPost.date}}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 class="noPosts" *ngIf="isLoading">{{'app.loading' | translate}}</h1>
<h1 class="noPosts" *ngIf="allPostsFromServer.length == 0 && !isLoading && !noAccess && !noActivity">{{'app.noPost' | translate}}</h1>
<h1 class="noPosts" *ngIf="noAccess">{{'app.noAccess' | translate}}</h1>
<h1 class="noPosts" *ngIf="noActivity">{{'app.noActivity' | translate}}</h1>

<!--FAB-->
<button *ngIf="!noAccess" mat-fab class="fab" color="primary" (click)="openDialog()">+</button>







