.postRows{
  padding-top: 20px;
}

.postDescription{
  padding-top: 10px;
  font-weight: bold;
  overflow: auto;
}

.noPosts{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 10% 0;
  min-height: 200px;
  background-color: rgba(33, 33, 33, .3);
  align-items: center;
}

.displayPostBtnComment{
  background-color: #4d9180;
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
}

.displayPostBtnComment:hover{
  background-color: #6BBAA7;
}

.displayPostBtnLike{
  background-color: #dd8e00;
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
}

.displayPostBtnLike:hover{
  background-color: #FBA100;
}

.example-header-image{
  background-image: url("../../assets/images/user.png");
  background-size: cover;
}

mat-card-header{
  padding-bottom: 10px;
}

.mat-card-title{
  padding-bottom: 0px;
  padding-top: 5px;
  font-weight: bold;
}

.userIcon{
  width: 45px;
  height: 45px;
}

.card{
  margin-top: 1em;
  cursor: pointer;
}

.card-img-top{
  padding-left: 10px;
  padding-right: 10px;
}

.card-text{
  padding-left: 10px ;
}

.notSeen{
  margin-bottom: 30px;
  box-shadow: 2px 2px 5px 5px rgba(80, 124, 196, 0.5), 0 5px 5px rgba(0,0,0,0.5);
}

.userName{
  margin-left: 5px;
}



/* MODAL SECTION */
.modal-header{
  text-align: center;
}

.modal-col{
  padding: 0;
}

.modal-row{
  padding: 0;
}

.modal-body{
  padding: 0;
}

.modal-footer{
}




/* MEDIA QUERY SECTION */
@media (min-width: 1200px){
  .container {
    max-width: 1500px;
  }
}


