
<mdb-navbar SideClass="navbar navbar-expand-md navbar-dark indigo">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">TripicT</a>
  </mdb-navbar-brand>
  <links>
    <div class="navbar-nav">
      <a class="nav-item nav-link active waves-light" routerLink="/exTrip/exActivity/posts" mdbWavesEffect>{{ 'app.toPosts' | translate}}<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active waves-light" routerLink="/exTrip/exActivity/createPost" mdbWavesEffect>{{ 'app.titlePostCreate' | translate}}<span class="sr-only">(current)</span></a>
      <a (click)="switchLanguage()" class="nav-item nav-link waves-light" mdbWavesEffect>{{ 'app.translateBtn' | translate}}</a>
    </div>
  </links>
</mdb-navbar>

<router-outlet></router-outlet>

