
<div class="container">
  <div class="row postRows" *ngFor="let currentPost of allPostsFromServer">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <mat-card class="example-card">

        <mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'" [interval]="0">
          <mdb-carousel-item *ngFor="let image of currentPost.PicturesDTO">
            <img class="d-block w-100" src={{image.Base64}} alt="First slide">
          </mdb-carousel-item>
        </mdb-carousel>

        <mat-card-content class="postDescription">
          <p>
            {{currentPost.Text}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>COMMENTAIRE</button>
          <button mat-button>LIKE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div *ngIf="allPostsFromServer.length == 0" class="col-md-12">
      <p class="noPosts">Aucune publication à afficher</p>
    </div>
  </div>


</div>



