<div class="container">

  <div class="row postRows" *ngFor="let currentPost of allPostsFromServer">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <mat-card class="example-card">

        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Username</mat-card-title>
        </mat-card-header>

        <mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'" [interval]="0">
          <mdb-carousel-item *ngFor="let image of currentPost.PicturesDTO">
            <img class="d-block w-100" src={{image.Base64}} alt="First slide">
          </mdb-carousel-item>
        </mdb-carousel>

        <mat-card-content class="postDescription">
          <p>
            {{currentPost.Text}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="displayPostBtnComment" >COMMENTAIRE</button>
          <button mat-button class="displayPostBtnLike">LIKE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-2"></div>
  </div>

  <!--afficher si il ny a aucun post-->
  <!--<div class="row">
    <div *ngIf="allPostsFromServer.length == 0" class="col-md-12">
      <p class="noPosts">Aucune publication à afficher</p>
    </div>
  </div>-->

  <h1 class="noPosts" *ngIf="isLoading" >Loading...</h1>
  <h1 class="noPosts" *ngIf="allPostsFromServer.length == 0 && !isLoading" >Aucune publication à afficher</h1>

</div>


<!--pour une mosaique-->
<!--
<div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="../../assets/images/trip1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../assets/images/trip2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer class="blockquote-footer">
        <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img" src="../../assets/images/trip3.jpg" alt="Card image">
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
-->
