<div mat-dialog-content>

  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="userHeader">
          <img class="userImg" src="../../assets/images/user.png" alt="">
          {{data.currentPost.name}}
          <p class="postDetailDescription" style="overflow:auto">
            {{data.currentPost.text}}
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-9" *ngIf="data.currentPost.idTable.length > 0">
        <mdb-carousel class="carousel slide carousel-fade" [animation]="'slide'" [interval]="0">
          <!--<mdb-carousel-item *ngFor="let imageId of data.currentPost.idTable">
            <img class="d-block w-100" src="{{http.baseUrl}}api/Pictures/GetPictureFromId/{{imageId}}" alt="First slide">
          </mdb-carousel-item>-->
          <mdb-carousel-item *ngFor="let imageId of data.currentPost.idTable">
            <div class="view w-100">
              <img class="d-block w-100" style="object-fit: contain; width: 600px; height: 600px" src="{{http.baseUrl}}api/Pictures/GetPictureFromId/{{imageId}}" alt="First slide">
            </div>
          </mdb-carousel-item>
        </mdb-carousel>

      </div>

      <div class="commentSectionContainer" [ngClass]="data.currentPost.idTable.length > 0 ? 'col-xl-3' : 'col-xl-12'">

        <div class="addCommentContainer">
          <mat-form-field class="comment" hintLabel="{{ 'app.maxPostChar' | translate }}">
            <textarea matInput id="commentText" #commentText maxlength="250" class="form-control" [(ngModel)]="addComment" name="commentText" placeholder="{{ 'app.addComment' | translate}}"></textarea>
            <mat-hint align="end">{{commentText.value?.length || 0}}/250</mat-hint>
          </mat-form-field>
          <div class="sendBtnContainer">
            <button class="btnAddComment" [disabled]="isSending" (click)="postComment()">{{'app.btnAddComment' | translate}}</button>
          </div>
        </div>

        <div class="commentsContainer">
          <div class="commentHeader">
            <p>{{"app.comments" | translate}}</p>
            <img (click)="filter()" class="filterIcon" *ngIf="!newestUp" src="../../assets/images/downArrow.png" height="15" width="15"/>
            <img (click)="filter()" class="filterIcon" *ngIf="newestUp" src="../../assets/images/upArrow.png" height="16" width="16"/>
            <p (click)="filter()" class="filter">{{"app.commentFilter" | translate}}</p>
          </div>

          <div *ngFor="let comment of comments">
            <div class="userNameInComment">{{comment.name}}</div>
            <div class="comment">{{comment.text}}</div>
            <small class="text-muted comment">{{comment.date}}</small>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
