/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body, html{
  background-image: linear-gradient(ghostwhite 60%, lightgray 100%);
  z-index: -1000;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.btn{
  font-weight: bold;
  margin: 1em !important;
  width: 25%;
  min-width: fit-content;
  -moz-transition: all 0.15s;
  -webkit-transition: all 0.15s;
}

.listItem {
  display: inline-block;
  list-style-type: none;
  width: 100%;
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 100%;
  -moz-transition: all 0.3s !important;
  -webkit-transition: all 0.3s !important;
  transition: all 0.3s !important;
  padding: 0.5em!important;
}

.listItem:hover {
  background-color: #2b8087;
  color: #fff;

}

.mat-fab{
  position: fixed !important;
  background-color: #2B8087 !important;
  right: 2em;
  bottom: 2em;
  width: 5em !important;
  height: 5em !important;
  -moz-transition: all 0.3s !important;
  -webkit-transition: all 0.3s !important;
  transition: all 0.3s !important;
}

.mat-fab:hover{
}

.mat-form-field{
  width: 90%;
}

.title{
  width: 100%;
  height: fit-content;
  padding: 1em 0 1em 0;
  text-align: left;
  padding-left: 7%;
}
.navbar{
  background-color: #2b8087;
}

.nav-item{
  cursor: pointer;
}

.comment{
  display: block;
  color: #000000;
}

.createActForm{
  color: white;
}

.form-control{
  border: none;
  box-shadow: none;
}

.mat-input-element,
.mat-warn{
  color: #FBA100;
}

.form-control:focus{
  border: none;
  box-shadow: none;
}

.fileInput{
  margin-top: 1em;
  color: #ffffff
}

.div-img-prev{
  margin: 1em 0 1em 0;
  position: relative;
}

.img-prev{
  width: 100%;
  height: 200px;
  max-width: 100%;
}

.waiting{
  display: inline-block;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

h1{
  margin: 1em 0 1em 0;
  text-align: center;
  width: 100%;
}

h2{
  text-align: center;
}

.list-button{
  margin-bottom: 1em;
}

.img-loading-overlay {
  display: inline-block;
  text-align: center;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  padding: 35%;
  bottom: 0;
  left: 0;
}
.img-loading-overlay div {
  box-sizing: border-box;
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 50%;
  vertical-align: middle;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card{
  border: 1px solid rgba(0,0,0,.2);
}




/*displayPostDetail*/

